---
title: Harmesh Uppal - CV
layout: layout/base.liquid
---
<main id="body-wrapper">
  {% include 'profile' %}
  {% include 'skills' %}
  {% include 'work-experience' %}
</main>
{% include 'contact' %}
