<section id="skills">
  <h2>Skills</h2>
  <div id="skills-sections">
    {% for skillset in cv.skills %}
    <div class="skills-section">
      <h3>{{ skillset.name }}</h3>
      <ul>
      {% for technology in skillset.list %}
        <li>{{ technology }}</li>
      {% endfor %}
      </ul>   
    </div>
    {% endfor %}
  </div>
</section>