<header>
	<div id="header-wrapper">
		<div id="header-logo">Curriculum Vitae</div>
		<div id="header-links">
			<a href="{{ '/assets/pdfs/cv.pdf' | url }}" target="_blank" class="header-link">Download</a>
			<span class="header-link" onclick="showContactPopup()">Contact</span>
		</div>
	</div>
</header>